body {
    background-color: #fbfbfb;
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
}

.algn {
    text-align: -webkit-center;
}

.algn1 {
    min-width: -webkit-fill-available;
}

.fits {
    width: fit-content;
}